<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/courtneynicole">Courtney</a> A student who is learning as much as she can about web development.
</p>
<br />
<p>
She is currently enrolled in a 6 month intensive course through UC Berkeley Extensions. 
</p>
<p>
If you want to learn how to code just like Courtney check out <a target="_blank" href="https//onlinebootcampspot.com"></a>
</p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'courtney.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Courtney Flynn</h2>
      <br />
      <p>
        Courtney Flynn is a coding bootcamp student. She is also the creator of Empress Media Company a company whose goal is the advancement of women & minorities within the film/tv industry. She is currently writing and shopping around pilots as well as working on her first feature length film. You can also check out her young adult fantasy books on (<a target="_blank" href="https://www.amazon.com/author/courtneynicole">Amazon</a>).
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

